nav {
    background-color: var(--theme-primary-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}

nav > svg {
    width: auto;
    height: 4rem;
}

.light-dark-switcher {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    gap: 0.2rem;
}

.light-dark-switcher > svg {
    width: auto;
    height: 1.5rem;
}

.light-dark-switcher > label {
    background-color: var(--theme-text-color);
    width: 4.1rem;
    height: auto;
    border-radius: 1rem;
    padding: 0.2rem 0 0 0.3rem;
    cursor: pointer;
}

.light-dark-switcher .light-dark-slider {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1rem;
    background-color: var(--theme-back-color);
    transition: transform 0.3s ease;
}

.light-dark-switcher .light-dark-toggle:checked + .light-dark-slider {
    transform: translateX(2rem);    
}
