nav {
    background-color: yellow;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}

nav > svg {
    width: auto;
    height: 4rem;
}

.color-palette-switcher {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    gap: 0.2rem;
}

.color-palette-switcher > svg {
    width: auto;
    height: 1.5rem;
}

.color-palette-switcher > label {
    background-color: #ddd;
    width: 4.1rem;
    height: auto;
    border-radius: 1rem;
    padding: 0.2rem 0 0 0.3rem;
    cursor: pointer;
}

.color-palette-switcher .color-palette-slider {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1rem;
    background-color: #fff;
    transition: transform 0.3s ease;
}

.color-palette-switcher .color-palette-toggle:checked + .color-palette-slider {
    transform: translateX(2rem);    
}
