.title {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 0.5em;
    color: var(--theme-text-color);
    margin: 2rem 0 1rem 0;
    text-align: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.searchbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 2rem;
}

.searchbar-form>fieldset {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.search-input {
    padding: 1rem;
    border: 1px solid var(--theme-medium-color1);
    border-radius: 2rem;
    font-size: 1rem;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.2);
    min-width: 340px;
    color: var(--theme-text-color);
    background-color: var(--theme-back-color);
}

.search-input:focus {
    border: 1px solid var(--theme-secondary-color);
    box-shadow: 4px 4px 14px rgba(48, 136, 240, 0.4);
    outline: none;
}

.search-button {
    padding: 0.6rem 0.7rem;
    border: 1px solid var(--theme-secondary-color);
    border-radius: 50%;
    background-color: var(--theme-secondary-color);
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.2);
    transition: transform .3s ease;
}

.search-button:hover {
    transform: scale(1.2);
}

.search-button>svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--theme-medium-color1);
}